{
    "id": "sculpture_dashboard",
    "type": "tab",
    "label": "Sculpture Control Dashboard",
    "disabled": false,
    "info": ""
},
{
    "id": "mqtt_broker",
    "type": "mqtt-broker",
    "name": "Sculpture MQTT",
    "broker": "localhost",
    "port": "1883",
    "clientid": "node-red-dashboard",
    "usetls": false,
    "compatmode": false,
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willPayload": ""
} 