{
    "id": "plan_btn_a1",
    "type": "ui_template",
    "z": "sculpture_dashboard",
    "name": "Plan A1 Button",
    "group": "ui_group_system",
    "order": 1,
    "width": 0,
    "height": 0,
    "format": "{% raw %}<md-button class=\"md-raised\" ng-style=\"{ 'background-color': msg.isSelected ? '#4a90e2' : '#e0e0e0', 'color': msg.isSelected ? 'white' : '#333333', 'border': msg.isSelected ? '2px solid #2c5aa0' : '1px solid #cccccc' }\" ng-click=\"send({topic: 'A1', payload: {plan: 'A1', mode: 'live'}})\"><i class=\"fa fa-circle\"></i> Plan A1 (1 hears 2, 2 hears 3, 3 hears 1)</md-button>{% endraw %}",
    "storeOutMessages": true,
    "fwdInMessages": false,
    "resendOnRefresh": false,
    "templateScope": "local",
    "x": 640,
    "y": 60,
    "wires": [["plan_button_logic"]]
},
{
    "id": "plan_btn_a2",
    "type": "ui_template",
    "z": "sculpture_dashboard",
    "name": "Plan A2 Button",
    "group": "ui_group_system",
    "order": 2,
    "width": 0,
    "height": 0,
    "format": "{% raw %}<md-button class=\"md-raised\" ng-style=\"{ 'background-color': msg.isSelected ? '#4a90e2' : '#e0e0e0', 'color': msg.isSelected ? 'white' : '#333333', 'border': msg.isSelected ? '2px solid #2c5aa0' : '1px solid #cccccc' }\" ng-click=\"send({topic: 'A2', payload: {plan: 'A2', mode: 'live'}})\"><i class=\"fa fa-circle\"></i> Plan A2 (1 hears 3, 2 hears 1, 3 hears 2)</md-button>{% endraw %}",
    "storeOutMessages": true,
    "fwdInMessages": false,
    "resendOnRefresh": false,
    "templateScope": "local",
    "x": 640,
    "y": 100,
    "wires": [["plan_button_logic"]]
},
{
    "id": "plan_btn_b1",
    "type": "ui_template",
    "z": "sculpture_dashboard",
    "name": "Plan B1 Button",
    "group": "ui_group_system",
    "order": 3,
    "width": 0,
    "height": 0,
    "format": "{% raw %}<md-button class=\"md-raised\" ng-style=\"{ 'background-color': msg.isSelected ? '#4a90e2' : '#e0e0e0', 'color': msg.isSelected ? 'white' : '#333333', 'border': msg.isSelected ? '2px solid #2c5aa0' : '1px solid #cccccc' }\" ng-click=\"send({topic: 'B1', payload: {plan: 'B1', mode: 'live'}})\"><i class=\"fa fa-circle\"></i> Plan B1 (1 hears 2, 2 hears 1, 3 silent)</md-button>{% endraw %}",
    "storeOutMessages": true,
    "fwdInMessages": false,
    "resendOnRefresh": false,
    "templateScope": "local",
    "x": 640,
    "y": 140,
    "wires": [["plan_button_logic"]]
},
{
    "id": "plan_btn_b2",
    "type": "ui_template",
    "z": "sculpture_dashboard",
    "name": "Plan B2 Button",
    "group": "ui_group_system",
    "order": 4,
    "width": 0,
    "height": 0,
    "format": "{% raw %}<md-button class=\"md-raised\" ng-style=\"{ 'background-color': msg.isSelected ? '#4a90e2' : '#e0e0e0', 'color': msg.isSelected ? 'white' : '#333333', 'border': msg.isSelected ? '2px solid #2c5aa0' : '1px solid #cccccc' }\" ng-click=\"send({topic: 'B2', payload: {plan: 'B2', mode: 'live'}})\"><i class=\"fa fa-circle\"></i> Plan B2 (2<->3, 1 silent)</md-button>{% endraw %}",
    "storeOutMessages": true,
    "fwdInMessages": false,
    "resendOnRefresh": false,
    "templateScope": "local",
    "x": 640,
    "y": 180,
    "wires": [["plan_button_logic"]]
},
{
    "id": "plan_btn_b3",
    "type": "ui_template",
    "z": "sculpture_dashboard",
    "name": "Plan B3 Button",
    "group": "ui_group_system",
    "order": 5,
    "width": 0,
    "height": 0,
    "format": "{% raw %}<md-button class=\"md-raised\" ng-style=\"{ 'background-color': msg.isSelected ? '#4a90e2' : '#e0e0e0', 'color': msg.isSelected ? 'white' : '#333333', 'border': msg.isSelected ? '2px solid #2c5aa0' : '1px solid #cccccc' }\" ng-click=\"send({topic: 'B3', payload: {plan: 'B3', mode: 'live'}})\"><i class=\"fa fa-circle\"></i> Plan B3 (1 hears 3, 2 silent, 3 hears 1)</md-button>{% endraw %}",
    "storeOutMessages": true,
    "fwdInMessages": false,
    "resendOnRefresh": false,
    "templateScope": "local",
    "x": 640,
    "y": 220,
    "wires": [["plan_button_logic"]]
},
{
    "id": "plan_btn_c",
    "type": "ui_template",
    "z": "sculpture_dashboard",
    "name": "Plan C Button",
    "group": "ui_group_system",
    "order": 6,
    "width": 0,
    "height": 0,
    "format": "{% raw %}<md-button class=\"md-raised\" ng-style=\"{ 'background-color': msg.isSelected ? '#4a90e2' : '#e0e0e0', 'color': msg.isSelected ? 'white' : '#333333', 'border': msg.isSelected ? '2px solid #2c5aa0' : '1px solid #cccccc' }\" ng-click=\"send({topic: 'C', payload: {plan: 'C', mode: 'live'}})\"><i class=\"fa fa-circle\"></i> Plan C (All hear all except self)</md-button>{% endraw %}",
    "storeOutMessages": true,
    "fwdInMessages": false,
    "resendOnRefresh": false,
    "templateScope": "local",
    "x": 640,
    "y": 260,
    "wires": [["plan_button_logic"]]
},
{
    "id": "plan_btn_d",
    "type": "ui_template",
    "z": "sculpture_dashboard",
    "name": "Plan D Button",
    "group": "ui_group_system",
    "order": 7,
    "width": 0,
    "height": 0,
    "format": "{% raw %}<md-button class=\"md-raised\" ng-style=\"{ 'background-color': msg.isSelected ? '#4a90e2' : '#e0e0e0', 'color': msg.isSelected ? 'white' : '#333333', 'border': msg.isSelected ? '2px solid #2c5aa0' : '1px solid #cccccc' }\" ng-click=\"send({topic: 'D', payload: {plan: 'D', mode: 'local'}})\"><i class=\"fa fa-circle\"></i> Plan D (Local file playback)</md-button>{% endraw %}",
    "storeOutMessages": true,
    "fwdInMessages": false,
    "resendOnRefresh": false,
    "templateScope": "local",
    "x": 640,
    "y": 300,
    "wires": [["plan_button_logic"]]
},
{
    "id": "plan_a1_state",
    "type": "function",
    "z": "sculpture_dashboard",
    "name": "Update A1 Button State",
    "func": "msg.isSelected = (msg.payload === 'A1');\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 440,
    "y": 360,
    "wires": [["plan_btn_a1", "plan_btn_a1_tab"]]
},
{
    "id": "plan_a2_state",
    "type": "function",
    "z": "sculpture_dashboard",
    "name": "Update A2 Button State",
    "func": "msg.isSelected = (msg.payload === 'A2');\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 440,
    "y": 400,
    "wires": [["plan_btn_a2", "plan_btn_a2_tab"]]
},
{
    "id": "plan_b1_state",
    "type": "function",
    "z": "sculpture_dashboard",
    "name": "Update B1 Button State",
    "func": "msg.isSelected = (msg.payload === 'B1');\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 640,
    "y": 360,
    "wires": [["plan_btn_b1", "plan_btn_b1_tab"]]
},
{
    "id": "plan_b2_state",
    "type": "function",
    "z": "sculpture_dashboard",
    "name": "Update B2 Button State",
    "func": "msg.isSelected = (msg.payload === 'B2');\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 640,
    "y": 400,
    "wires": [["plan_btn_b2", "plan_btn_b2_tab"]]
},
{
    "id": "plan_b3_state",
    "type": "function",
    "z": "sculpture_dashboard",
    "name": "Update B3 Button State",
    "func": "msg.isSelected = (msg.payload === 'B3');\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 640,
    "y": 440,
    "wires": [["plan_btn_b3", "plan_btn_b3_tab"]]
},
{
    "id": "plan_c_state",
    "type": "function",
    "z": "sculpture_dashboard",
    "name": "Update C Button State",
    "func": "msg.isSelected = (msg.payload === 'C');\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 840,
    "y": 360,
    "wires": [["plan_btn_c", "plan_btn_c_tab"]]
},
{
    "id": "plan_d_state",
    "type": "function",
    "z": "sculpture_dashboard",
    "name": "Update D Button State",
    "func": "msg.isSelected = (msg.payload === 'D');\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 840,
    "y": 400,
    "wires": [["plan_btn_d", "plan_btn_d_tab"]]
} 