{% for sculpture_id in [1, 2, 3] %}
{
    "id": "track_selector_{{ sculpture_id }}",
    "type": "ui_dropdown",
    "z": "sculpture_dashboard",
    "name": "Track {{ sculpture_id }}",
    "label": "Select Track",
    "tooltip": "Select a track to play on sculpture {{ sculpture_id }}",
    "place": "Select a track",
    "group": "ui_group_sculpture{{ sculpture_id }}",
    "order": 4,
    "width": 0,
    "height": 0,
    "passthru": false,
    "multiple": false,
    "options": [],
    "payload": "",
    "topic": "",
    "x": 190,
    "y": 660,
    "wires": [["store_selected_track_{{ sculpture_id }}"]]
},
{
    "id": "load_track_button_{{ sculpture_id }}",
    "type": "ui_template",
    "z": "sculpture_dashboard",
    "group": "ui_group_sculpture{{ sculpture_id }}",
    "name": "Load Track Button",
    "order": 5,
    "width": 6,
    "height": 1,
    "format": "{% raw %}<md-button class=\"md-raised\" ng-disabled=\"msg.mode === 'live'\" ng-style=\"{'opacity': msg.mode === 'live' ? 0.4 : 1.0}\" ng-click=\"send({payload: ''})\"><i class=\"fa fa-play\"></i> LOAD TRACK</md-button>{% endraw %}",
    "storeOutMessages": false,
    "fwdInMessages": false,
    "resendOnRefresh": false,
    "templateScope": "local",
    "x": 180,
    "y": 700,
    "wires": [["prepare_load_track_cmd_{{ sculpture_id }}"]]
},
{
    "id": "prepare_load_track_cmd_{{ sculpture_id }}",
    "type": "function",
    "z": "sculpture_dashboard",
    "name": "Prepare Load Track Command {{ sculpture_id }}",
    "func": "var track = flow.get('selected_track_{{ sculpture_id }}');\nif (!track) {\n    node.warn('No track selected for sculpture {{ sculpture_id }}.');\n    return null;\n}\nmsg.payload = {\n    \"mode\": \"local\",\n    \"track\": track\n};\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 410,
    "y": 700,
    "wires": [["mqtt_out_{{ sculpture_id }}"]]
},
{
    "id": "store_selected_track_{{ sculpture_id }}",
    "type": "function",
    "z": "sculpture_dashboard",
    "name": "Store Selected Track {{ sculpture_id }}",
    "func": "flow.set('selected_track_{{ sculpture_id }}', msg.payload);\nreturn null;",
    "outputs": 1,
    "noerr": 0,
    "x": 380,
    "y": 660,
    "wires": [[]]
},
{
    "id": "format_tracks_{{ sculpture_id }}",
    "type": "function",
    "z": "sculpture_dashboard",
    "name": "Format Tracks {{ sculpture_id }}",
    "func": "msg.options = msg.payload;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 310,
    "y": 620,
    "wires": [["track_selector_{{ sculpture_id }}"]]
}{% if not loop.last %},{% endif %}
{% endfor %}
