{% for sculpture_id in [1, 2, 3] %}
{
    "id": "cpu_gauge_{{ sculpture_id }}",
    "type": "ui_gauge",
    "z": "sculpture_dashboard",
    "name": "CPU {{ sculpture_id }}",
    "group": "ui_group_sculpture{{ sculpture_id }}",
    "order": 6,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "CPU %",
    "label": "%",
    "format": "{% raw %}{{value | number:0}}{% endraw %}",
    "min": 0,
    "max": "100",
    "colors": ["#00b500", "#e6e600", "#ca3838"],
    "seg1": "50",
    "seg2": "80",
    "x": 410,
    "y": 360,
    "wires": []
},
{
    "id": "temp_gauge_{{ sculpture_id }}",
    "type": "ui_gauge",
    "z": "sculpture_dashboard",
    "name": "Temperature {{ sculpture_id }}",
    "group": "ui_group_sculpture{{ sculpture_id }}",
    "order": 7,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "Temperature",
    "label": "°C",
    "format": "{% raw %}{{value | number:0}}{% endraw %}",
    "min": 0,
    "max": "85",
    "colors": ["#00b500", "#e6e600", "#ca3838"],
    "seg1": "60",
    "seg2": "75",
    "x": 420,
    "y": 400,
    "wires": []
},
{
    "id": "sculpture{{ sculpture_id }}_output_level",
    "type": "ui_gauge",
    "z": "sculpture_dashboard",
    "name": "Output Level",
    "group": "ui_group_sculpture{{ sculpture_id }}",
    "order": 9,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "Output Level",
    "label": "dB",
    "format": "{% raw %}{{value | number:0}}{% endraw %}",
    "min": -60,
    "max": 0,
    "colors": ["#00b500", "#e6e600", "#ca3838"],
    "seg1": -20,
    "seg2": -10,
    "x": 430,
    "y": 520,
    "wires": []
},
{
    "id": "sculpture{{ sculpture_id }}_mic_level",
    "type": "ui_gauge",
    "z": "sculpture_dashboard",
    "name": "Mic Level",
    "group": "ui_group_sculpture{{ sculpture_id }}",
    "order": 8,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "Microphone Level",
    "label": "dB",
    "format": "{% raw %}{{value | number:0}}{% endraw %}",
    "min": -60,
    "max": 0,
    "colors": ["#00b500", "#e6e600", "#ca3838"],
    "seg1": -20,
    "seg2": -10,
    "x": 450,
    "y": 480,
    "wires": []
}
{% if not loop.last %},{% endif %}
{% endfor %} 