{
    "id": "sculpture_dashboard",
    "type": "tab",
    "label": "Sculpture Control Dashboard",
    "disabled": false,
    "info": ""
},
{
    "id": "mqtt_broker",
    "type": "mqtt-broker",
    "name": "Sculpture MQTT",
    "broker": "localhost",
    "port": "1883",
    "clientid": "node-red-dashboard",
    "usetls": false,
    "compatmode": false,
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willPayload": ""
},
{
    "id": "ui_tab_main",
    "type": "ui_tab",
    "name": "Sculpture System",
    "icon": "dashboard",
    "order": 1,
    "disabled": false,
    "hidden": false
},
{
    "id": "ui_group_system",
    "type": "ui_group",
    "name": "System Control",
    "tab": "ui_tab_main",
    "order": 4,
    "disp": true,
    "width": "6",
    "collapse": false
} 