{
    "id": "plan_btn_a1",
    "type": "ui_button",
    "z": "sculpture_dashboard",
    "name": "Plan A1 Button",
    "group": "ui_group_system",
    "order": 1,
    "width": 0,
    "height": 0,
    "passthru": false,
    "label": "Plan A1 (1->2, 2->3, 3->1)",
    "tooltip": "Select Plan A1",
    "color": "black",
    "bgcolor": "lightgray",
    "icon": "fa-circle",
    "payload": "A1",
    "payloadType": "str",
    "topic": "A1",
    "x": 640,
    "y": 60,
    "wires": [
        [
            "plan_button_logic"
        ]
    ]
},
{
    "id": "plan_btn_a2",
    "type": "ui_button",
    "z": "sculpture_dashboard",
    "name": "Plan A2 Button",
    "group": "ui_group_system",
    "order": 2,
    "width": 0,
    "height": 0,
    "passthru": false,
    "label": "Plan A2 (1->3, 3->2, 2->1)",
    "tooltip": "Select Plan A2",
    "color": "black",
    "bgcolor": "lightgray",
    "icon": "fa-circle",
    "payload": "A2",
    "payloadType": "str",
    "topic": "A2",
    "x": 640,
    "y": 100,
    "wires": [
        [
            "plan_button_logic"
        ]
    ]
},
{
    "id": "plan_btn_b1",
    "type": "ui_button",
    "z": "sculpture_dashboard",
    "name": "Plan B1 Button",
    "group": "ui_group_system",
    "order": 3,
    "width": 0,
    "height": 0,
    "passthru": false,
    "label": "Plan B1 (1->2, 2->1)",
    "tooltip": "Select Plan B1",
    "color": "black",
    "bgcolor": "lightgray",
    "icon": "fa-circle",
    "payload": "B1",
    "payloadType": "str",
    "topic": "B1",
    "x": 640,
    "y": 140,
    "wires": [
        [
            "plan_button_logic"
        ]
    ]
},
{
    "id": "plan_btn_b2",
    "type": "ui_button",
    "z": "sculpture_dashboard",
    "name": "Plan B2 Button",
    "group": "ui_group_system",
    "order": 4,
    "width": 0,
    "height": 0,
    "passthru": false,
    "label": "Plan B2 (1->3, 3->1)",
    "tooltip": "Select Plan B2",
    "color": "black",
    "bgcolor": "lightgray",
    "icon": "fa-circle",
    "payload": "B2",
    "payloadType": "str",
    "topic": "B2",
    "x": 640,
    "y": 180,
    "wires": [
        [
            "plan_button_logic"
        ]
    ]
},
{
    "id": "plan_btn_b3",
    "type": "ui_button",
    "z": "sculpture_dashboard",
    "name": "Plan B3 Button",
    "group": "ui_group_system",
    "order": 5,
    "width": 0,
    "height": 0,
    "passthru": false,
    "label": "Plan B3 (2->3, 3->2)",
    "tooltip": "Select Plan B3",
    "color": "black",
    "bgcolor": "lightgray",
    "icon": "fa-circle",
    "payload": "B3",
    "payloadType": "str",
    "topic": "B3",
    "x": 640,
    "y": 220,
    "wires": [
        [
            "plan_button_logic"
        ]
    ]
},
{
    "id": "plan_btn_c",
    "type": "ui_button",
    "z": "sculpture_dashboard",
    "name": "Plan C Button",
    "group": "ui_group_system",
    "order": 6,
    "width": 0,
    "height": 0,
    "passthru": false,
    "label": "Plan C (All Mics to All Speakers)",
    "tooltip": "Select Plan C",
    "color": "black",
    "bgcolor": "lightgray",
    "icon": "fa-circle",
    "payload": "C",
    "payloadType": "str",
    "topic": "C",
    "x": 640,
    "y": 260,
    "wires": [
        [
            "plan_button_logic"
        ]
    ]
},
{
    "id": "plan_btn_d",
    "type": "ui_button",
    "z": "sculpture_dashboard",
    "name": "Plan D Button",
    "group": "ui_group_system",
    "order": 7,
    "width": 0,
    "height": 0,
    "passthru": false,
    "label": "Plan D (Local Playback)",
    "tooltip": "Select Plan D",
    "color": "black",
    "bgcolor": "lightgray",
    "icon": "fa-circle",
    "payload": "D",
    "payloadType": "str",
    "topic": "D",
    "x": 640,
    "y": 300,
    "wires": [
        [
            "plan_button_logic"
        ]
    ]
} 