{
    "id": "track_selector_1_proxy",
    "type": "link out",
    "z": "sculpture_dashboard",
    "name": "track_selector_1",
    "links": [],
    "x": 1255,
    "y": 180,
    "wires": []
},
{
    "id": "track_selector_2_proxy",
    "type": "link out",
    "z": "sculpture_dashboard",
    "name": "track_selector_2",
    "links": [],
    "x": 1255,
    "y": 220,
    "wires": []
},
{
    "id": "track_selector_3_proxy",
    "type": "link out",
    "z": "sculpture_dashboard",
    "name": "track_selector_3",
    "links": [],
    "x": 1255,
    "y": 260,
    "wires": []
},
{
    "id": "load_track_button_1_proxy",
    "type": "link out",
    "z": "sculpture_dashboard",
    "name": "load_track_button_1",
    "links": [],
    "x": 1255,
    "y": 300,
    "wires": []
},
{
    "id": "load_track_button_2_proxy",
    "type": "link out",
    "z": "sculpture_dashboard",
    "name": "load_track_button_2",
    "links": [],
    "x": 1255,
    "y": 340,
    "wires": []
},
{
    "id": "load_track_button_3_proxy",
    "type": "link out",
    "z": "sculpture_dashboard",
    "name": "load_track_button_3",
    "links": [],
    "x": 1255,
    "y": 380,
    "wires": []
} 