{
    "id": "mqtt_out_system",
    "type": "mqtt out",
    "z": "sculpture_dashboard",
    "name": "Send System Commands",
    "topic": "server/cmd",
    "qos": "0",
    "retain": "false",
    "broker": "mqtt_broker",
    "x": 900,
    "y": 340,
    "wires": []
} 