state.IQaudIOCODEC {
	control.1 {
		iface MIXER
		name 'Mic 1 Volume'
		value 0
		comment {
			access 'read write'
			type INTEGER
			count 1
			range '0 - 7'
			dbmin -600
			dbmax 3600
			dbvalue.0 -600
		}
	}
	control.2 {
		iface MIXER
		name 'Mic 2 Volume'
		value 5
		comment {
			access 'read write'
			type INTEGER
			count 1
			range '0 - 7'
			dbmin -600
			dbmax 3600
			dbvalue.0 2400
		}
	}
	control.3 {
		iface MIXER
		name 'Aux Volume'
		value.0 0
		value.1 0
		comment {
			access 'read write'
			type INTEGER
			count 2
			range '0 - 63'
			dbmin -5400
			dbmax 1500
			dbvalue.0 -5400
			dbvalue.1 -5400
		}
	}
	control.4 {
		iface MIXER
		name 'Mixin PGA Volume'
		value.0 7
		value.1 7
		comment {
			access 'read write'
			type INTEGER
			count 2
			range '0 - 15'
			dbmin -450
			dbmax 1800
			dbvalue.0 600
			dbvalue.1 600
		}
	}
	control.5 {
		iface MIXER
		name 'ADC Volume'
		value.0 114
		value.1 114
		comment {
			access 'read write'
			type INTEGER
			count 2
			range '0 - 127'
			dbmin -9999999
			dbmax 1125
			dbvalue.0 150
			dbvalue.1 150
		}
	}
	control.6 {
		iface MIXER
		name 'DAC Volume'
		value.0 112
		value.1 112
		comment {
			access 'read write'
			type INTEGER
			count 2
			range '0 - 127'
			dbmin -9999999
			dbmax 1125
			dbvalue.0 0
			dbvalue.1 0
		}
	}
	control.7 {
		iface MIXER
		name 'Headphone Volume'
		value.0 63
		value.1 63
		comment {
			access 'read write'
			type INTEGER
			count 2
			range '0 - 63'
			dbmin -5700
			dbmax 600
			dbvalue.0 600
			dbvalue.1 600
		}
	}
	control.8 {
		iface MIXER
		name 'Lineout Volume'
		value 48
		comment {
			access 'read write'
			type INTEGER
			count 1
			range '0 - 63'
			dbmin -4800
			dbmax 1500
			dbvalue.0 0
		}
	}
	control.23 {
		iface MIXER
		name 'Mic 1 Switch'
		value false
		comment {
			access 'read write'
			type BOOLEAN
			count 1
		}
	}
	control.24 {
		iface MIXER
		name 'Mic 2 Switch'
		value true
		comment {
			access 'read write'
			type BOOLEAN
			count 1
		}
	}
	control.25 {
		iface MIXER
		name 'Aux Switch'
		value.0 false
		value.1 false
		comment {
			access 'read write'
			type BOOLEAN
			count 2
		}
	}
	control.26 {
		iface MIXER
		name 'Mixin PGA Switch'
		value.0 true
		value.1 true
		comment {
			access 'read write'
			type BOOLEAN
			count 2
		}
	}
	control.27 {
		iface MIXER
		name 'ADC Switch'
		value.0 true
		value.1 true
		comment {
			access 'read write'
			type BOOLEAN
			count 2
		}
	}
	control.28 {
		iface MIXER
		name 'Headphone Switch'
		value.0 true
		value.1 true
		comment {
			access 'read write'
			type BOOLEAN
			count 2
		}
	}
	control.29 {
		iface MIXER
		name 'Lineout Switch'
		value true
		comment {
			access 'read write'
			type BOOLEAN
			count 1
		}
	}
	control.77 {
		iface MIXER
		name 'Onboard MIC Switch'
		value true
		comment {
			access 'read write'
			type BOOLEAN
			count 1
		}
	}
	control.83 {
		iface MIXER
		name 'Mixin Left Mic 2 Switch'
		value true
		comment {
			access 'read write'
			type BOOLEAN
			count 1
		}
	}
	control.86 {
		iface MIXER
		name 'Mixin Right Mic 2 Switch'
		value true
		comment {
			access 'read write'
			type BOOLEAN
			count 1
		}
	}
	control.89 {
		iface MIXER
		name 'DAI Left Source MUX'
		value 'ADC Left'
		comment {
			access 'read write'
			type ENUMERATED
			count 1
			item.0 'ADC Left'
			item.1 'ADC Right'
			item.2 'DAI Input Left'
			item.3 'DAI Input Right'
		}
	}
	control.90 {
		iface MIXER
		name 'DAI Right Source MUX'
		value 'ADC Right'
		comment {
			access 'read write'
			type ENUMERATED
			count 1
			item.0 'ADC Left'
			item.1 'ADC Right'
			item.2 'DAI Input Left'
			item.3 'DAI Input Right'
		}
	}
	control.91 {
		iface MIXER
		name 'DAC Left Source MUX'
		value 'DAI Input Left'
		comment {
			access 'read write'
			type ENUMERATED
			count 1
			item.0 'ADC Output Left'
			item.1 'ADC Output Right'
			item.2 'DAI Input Left'
			item.3 'DAI Input Right'
		}
	}
	control.92 {
		iface MIXER
		name 'DAC Right Source MUX'
		value 'DAI Input Right'
		comment {
			access 'read write'
			type ENUMERATED
			count 1
			item.0 'ADC Output Left'
			item.1 'ADC Output Right'
			item.2 'DAI Input Left'
			item.3 'DAI Input Right'
		}
	}
	control.96 {
		iface MIXER
		name 'Mixout Left DAC Left Switch'
		value true
		comment {
			access 'read write'
			type BOOLEAN
			count 1
		}
	}
	control.103 {
		iface MIXER
		name 'Mixout Right DAC Right Switch'
		value true
		comment {
			access 'read write'
			type BOOLEAN
			count 1
		}
	}
} 