{% for sculpture_id in [1, 2, 3] %}
{
    "id": "ui_group_sculpture{{ sculpture_id }}_tab",
    "type": "ui_group",
    "name": "Sculpture {{ sculpture_id }}",
    "tab": "ui_tab_sculpture{{ sculpture_id }}",
    "order": 1,
    "disp": true,
    "width": "6",
    "collapse": false
},
{
    "id": "volume_slider_{{ sculpture_id }}_tab",
    "type": "ui_slider",
    "z": "sculpture_dashboard",
    "name": "Master {{ sculpture_id }}",
    "label": "Master",
    "tooltip": "",
    "group": "ui_group_sculpture{{ sculpture_id }}_tab",
    "order": 2,
    "width": 0,
    "height": 0,
    "passthru": true,
    "outs": "all",
    "topic": "sculpture/{{ sculpture_id }}/cmd/volume",
    "topicType": "str",
    "min": 0,
    "max": 1,
    "step": 0.01,
    "range": "min,max",
    "color": "#2196F3",
    "colorBackground": "#e0e0e0",
    "x": 820,
    "y": 560,
    "wires": [["volume_format_{{ sculpture_id }}"]]
},
{
    "id": "capture_slider_{{ sculpture_id }}_tab",
    "type": "ui_slider",
    "z": "sculpture_dashboard",
    "name": "Capture {{ sculpture_id }}",
    "label": "Capture",
    "tooltip": "",
    "group": "ui_group_sculpture{{ sculpture_id }}_tab",
    "order": 3,
    "width": 0,
    "height": 0,
    "passthru": true,
    "outs": "all",
    "topic": "sculpture/{{ sculpture_id }}/cmd/capture",
    "topicType": "str",
    "min": 0,
    "max": 1,
    "step": 0.01,
    "range": "min,max",
    "color": "#2196F3",
    "colorBackground": "#e0e0e0",
    "x": 820,
    "y": 600,
    "wires": [["capture_format_{{ sculpture_id }}"]]
},
{
    "id": "sculpture{{ sculpture_id }}_mode_tab",
    "type": "ui_text",
    "z": "sculpture_dashboard",
    "group": "ui_group_sculpture{{ sculpture_id }}_tab",
    "order": 1,
    "width": 0,
    "height": 0,
    "name": "Mode",
    "label": "Mode",
    "format": "{% raw %}{{msg.payload}}{% endraw %}",
    "layout": "row-spread",
    "x": 420,
    "y": 440,
    "wires": []
},
{
    "id": "sculpture{{ sculpture_id }}_mute_button_tab",
    "type": "ui_template",
    "z": "sculpture_dashboard",
    "group": "ui_group_sculpture{{ sculpture_id }}_tab",
    "name": "Mute/Unmute Button {{ sculpture_id }}",
    "order": 6,
    "width": 0,
    "height": 0,
    "format": "{% raw %}<md-button \n    ng-style=\"{ 'background-color': msg.isMuted ? '#4CAF50' : '#f44336', 'color': 'white' }\"\n    ng-click=\"send({ payload: { 'mute': !msg.isMuted } })\">\n    <i class=\"fa {{msg.isMuted ? 'fa-volume-up' : 'fa-volume-off'}}\"></i> \n    {{msg.isMuted ? 'Unmute' : 'Mute'}}\n</md-button>{% endraw %}",
    "storeOutMessages": true,
    "fwdInMessages": false,
    "resendOnRefresh": true,
    "templateScope": "local",
    "x": 620,
    "y": 560,
    "wires": [["mqtt_out_{{ sculpture_id }}"]]
},
{
    "id": "set_initial_volume_link_in_{{ sculpture_id }}_tab",
    "type": "link in",
    "z": "sculpture_dashboard",
    "name": "set_initial_volume_link_in_{{ sculpture_id }}_tab",
    "links": ["set_initial_volume_link_out"],
    "x": 620,
    "y": 520,
    "wires": [["volume_slider_{{ sculpture_id }}_tab"]]
},
{
    "id": "set_initial_capture_link_in_{{ sculpture_id }}_tab",
    "type": "link in",
    "z": "sculpture_dashboard",
    "name": "set_initial_capture_link_in_{{ sculpture_id }}_tab",
    "links": ["set_initial_capture_link_out"],
    "x": 620,
    "y": 580,
    "wires": [["capture_slider_{{ sculpture_id }}_tab"]]
}{% if not loop.last %},{% endif %}
{% endfor %} 