{
    "id": "set_initial_volume",
    "type": "inject",
    "z": "sculpture_dashboard",
    "name": "Set Initial Volume (0.5)",
    "props": [{"p": "payload"}],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": "1.5",
    "topic": "",
    "payload": "0.5",
    "payloadType": "num",
    "x": 160,
    "y": 200,
    "wires": [["set_initial_volume_link_out"]]
},
{
    "id": "set_initial_capture",
    "type": "inject",
    "z": "sculpture_dashboard",
    "name": "Set Initial Capture (0.5)",
    "props": [{"p": "payload"}],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": "2",
    "topic": "",
    "payload": "0.5",
    "payloadType": "num",
    "x": 160,
    "y": 240,
    "wires": [["set_initial_capture_link_out"]]
},
{
    "id": "set_initial_volume_link_out",
    "type": "link out",
    "z": "sculpture_dashboard",
    "name": "set_initial_volume_link_out",
    "links": ["set_initial_volume_link_in_1", "set_initial_volume_link_in_2", "set_initial_volume_link_in_3"],
    "x": 360,
    "y": 200,
    "wires": []
},
{
    "id": "set_initial_capture_link_out",
    "type": "link out",
    "z": "sculpture_dashboard",
    "name": "set_initial_capture_link_out",
    "links": ["set_initial_capture_link_in_1", "set_initial_capture_link_in_2", "set_initial_capture_link_in_3"],
    "x": 360,
    "y": 240,
    "wires": []
} 