{% for sculpture_id in [1, 2, 3] %}
{
    "id": "sculpture{{ sculpture_id }}_restart_darkice_reactive",
    "type": "ui_template",
    "z": "sculpture_dashboard",
    "group": "ui_group_sculpture{{ sculpture_id }}",
    "name": "Reactive Darkice Restart {{ sculpture_id }}",
    "order": 11,
    "width": 0,
    "height": 0,
    "format": "{% raw %}<md-button class=\"md-raised\" ng-style=\"{ 'background-color': msg.mode === 'live' ? '#ff9f43' : '#cccccc', 'color': msg.mode === 'live' ? 'white' : '#666666', 'opacity': msg.mode === 'live' ? 1.0 : 0.5 }\" ng-disabled=\"msg.mode === 'local'\" ng-click=\"send({topic: 'sculpture/{% endraw %}{{ sculpture_id }}{% raw %}/cmd', payload: {restart: 'darkice'}})\"><i class=\"fa fa-refresh\"></i> Restart Darkice</md-button>{% endraw %}",
    "storeOutMessages": true,
    "fwdInMessages": false,
    "resendOnRefresh": false,
    "templateScope": "local",
    "x": 480,
    "y": 740,
    "wires": [["mqtt_out_{{ sculpture_id }}"]]
},
{
    "id": "sculpture{{ sculpture_id }}_restart_player_reactive",
    "type": "ui_template",
    "z": "sculpture_dashboard",
    "group": "ui_group_sculpture{{ sculpture_id }}",
    "name": "Reactive Player Restart {{ sculpture_id }}",
    "order": 12,
    "width": 0,
    "height": 0,
    "format": "{% raw %}<md-button class=\"md-raised md-primary\" style=\"background-color: #74b9ff; color: white; width: 100%; margin: 4px;\" ng-click=\"send({topic: 'sculpture/{% endraw %}{{ sculpture_id }}{% raw %}/cmd', payload: msg.mode === 'live' ? {restart: 'player-live'} : {restart: 'player-loop'}})\">{{msg.mode === 'live' ? 'Restart Player Live' : 'Restart Player Loop'}}</md-button>{% endraw %}",
    "storeOutMessages": true,
    "fwdInMessages": false,
    "resendOnRefresh": false,
    "templateScope": "local",
    "x": 660,
    "y": 740,
    "wires": [["mqtt_out_{{ sculpture_id }}"]]
},
{
    "id": "sculpture{{ sculpture_id }}_restart_pi_agent",
    "type": "ui_button",
    "z": "sculpture_dashboard",
    "name": "Restart Pi Agent {{ sculpture_id }}",
    "group": "ui_group_sculpture{{ sculpture_id }}",
    "order": 13,
    "width": 0,
    "height": 0,
    "label": "Restart Pi-Agent",
    "tooltip": "Restart Pi Agent service",
    "color": "",
    "bgcolor": "#6c5ce7",
    "icon": "fa-refresh",
    "payload": "{\"restart\":\"pi-agent\"}",
    "payloadType": "json",
    "topic": "sculpture/{{ sculpture_id }}/cmd",
    "x": 480,
    "y": 780,
    "wires": [["mqtt_out_{{ sculpture_id }}"]]
},
{
    "id": "sculpture{{ sculpture_id }}_restart_all_reactive",
    "type": "ui_template",
    "z": "sculpture_dashboard",
    "group": "ui_group_sculpture{{ sculpture_id }}",
    "name": "Reactive Restart All {{ sculpture_id }}",
    "order": 14,
    "width": 0,
    "height": 0,
    "format": "{% raw %}<md-button class=\"md-raised\" ng-style=\"{ 'background-color': msg.mode === 'live' ? '#fd79a8' : '#cccccc', 'color': msg.mode === 'live' ? 'white' : '#666666', 'opacity': msg.mode === 'live' ? 1.0 : 0.5 }\" ng-disabled=\"msg.mode === 'local'\" ng-click=\"send({topic: 'sculpture/{% endraw %}{{ sculpture_id }}{% raw %}/cmd', payload: {restart: true}})\"><i class=\"fa fa-refresh\"></i> Restart All</md-button>{% endraw %}",
    "storeOutMessages": true,
    "fwdInMessages": false,
    "resendOnRefresh": false,
    "templateScope": "local",
    "x": 660,
    "y": 780,
    "wires": [["mqtt_out_{{ sculpture_id }}"]]
},
{
    "id": "sculpture{{ sculpture_id }}_reboot",
    "type": "ui_button",
    "z": "sculpture_dashboard",
    "name": "Reboot {{ sculpture_id }}",
    "group": "ui_group_sculpture{{ sculpture_id }}",
    "order": 15,
    "width": 0,
    "height": 0,
    "label": "Reboot Pi",
    "tooltip": "Reboot entire Raspberry Pi",
    "color": "",
    "bgcolor": "#e17055",
    "icon": "fa-power-off",
    "payload": "{\"reboot\":true}",
    "payloadType": "json",
    "topic": "sculpture/{{ sculpture_id }}/cmd",
    "x": 570,
    "y": 820,
    "wires": [["mqtt_out_{{ sculpture_id }}"]]
},
{
    "id": "restart_darkice_state_{{ sculpture_id }}",
    "type": "function",
    "z": "sculpture_dashboard",
    "name": "Update Darkice Button State {{ sculpture_id }}",
    "func": "msg.mode = msg.payload;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 400,
    "y": 860,
    "wires": [["sculpture{{ sculpture_id }}_restart_darkice_reactive", "sculpture{{ sculpture_id }}_restart_darkice_reactive_tab"]]
},
{
    "id": "restart_player_state_{{ sculpture_id }}",
    "type": "function",
    "z": "sculpture_dashboard",
    "name": "Update Player Button State {{ sculpture_id }}",
    "func": "msg.mode = msg.payload;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 580,
    "y": 860,
    "wires": [["sculpture{{ sculpture_id }}_restart_player_reactive", "sculpture{{ sculpture_id }}_restart_player_reactive_tab"]]
},
{
    "id": "restart_all_state_{{ sculpture_id }}",
    "type": "function",
    "z": "sculpture_dashboard",
    "name": "Update Restart All Button State {{ sculpture_id }}",
    "func": "msg.mode = msg.payload;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 760,
    "y": 860,
    "wires": [["sculpture{{ sculpture_id }}_restart_all_reactive", "sculpture{{ sculpture_id }}_restart_all_reactive_tab"]]
}{% if not loop.last %},{% endif %}
{% endfor %} 