{% for sculpture_id in [1, 2, 3] %}
{
    "id": "track_selector_{{ sculpture_id }}_tab",
    "type": "ui_dropdown",
    "z": "sculpture_dashboard",
    "name": "Samples/Playlists {{ sculpture_id }}",
    "label": "Samples/Playlists",
    "tooltip": "Select a sample or playlist to play on sculpture {{ sculpture_id }}",
    "place": "Select sample or playlist",
    "group": "ui_group_sculpture{{ sculpture_id }}_tab",
    "order": 4,
    "width": 0,
    "height": 0,
    "passthru": true,
    "multiple": false,
    "options": [],
    "payload": "",
    "topic": "sculpture/{{ sculpture_id }}/selected_track",
    "x": 190,
    "y": 660,
    "wires": [["debug_dropdown_selection_{{ sculpture_id }}_tab", "store_selected_track_{{ sculpture_id }}"]]
},
{
    "id": "debug_dropdown_selection_{{ sculpture_id }}_tab",
    "type": "debug",
    "z": "sculpture_dashboard",
    "name": "Debug Dropdown Selection {{ sculpture_id }} Tab",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 400,
    "y": 620,
    "wires": []
},
{
    "id": "load_track_button_{{ sculpture_id }}_tab",
    "type": "ui_template",
    "z": "sculpture_dashboard",
    "group": "ui_group_sculpture{{ sculpture_id }}_tab",
    "name": "Load Track/Playlist Button (Tab)",
    "order": 5,
    "width": 6,
    "height": 1,
    "format": "{% raw %}<md-button class=\"md-raised\" ng-disabled=\"msg.mode === 'live'\" ng-style=\"{'opacity': msg.mode === 'live' ? 0.4 : 1.0}\" ng-click=\"send({payload: ''})\"><i class=\"fa fa-play\"></i> LOAD CONTENT</md-button>{% endraw %}",
    "storeOutMessages": false,
    "fwdInMessages": false,
    "resendOnRefresh": false,
    "templateScope": "local",
    "x": 180,
    "y": 700,
    "wires": [["prepare_load_track_cmd_{{ sculpture_id }}"]]
}{% if not loop.last %},{% endif %}
{% endfor %} 