[Unit]
Description=Sculpture Loop Player
After=sound.target
Requires=sound.target

[Service]
Type=simple
ExecStart=/usr/bin/mpv --no-video --audio-device={% if audio_backend == 'pulse' %}{{ mpv_audio_device }}{% else %}alsa/hw:CARD=IQaudIOCODEC,DEV=0{% endif %} --audio-samplerate={{ audio_sample_rate }} --audio-format={{ mpv_audio_format }} --loop /opt/sculpture-system/loops/test1.wav --audio-buffer={{ mpv_audio_buffer_secs }} --log-file=/tmp/mpv-loop-{{ id }}.log
Restart=always
RestartSec=5
User=pi
Group=audio
Nice=-10

# Environment variables
Environment="XDG_RUNTIME_DIR=/run/user/1000"

# Security settings
NoNewPrivileges=true
PrivateTmp=true

[Install]
WantedBy=multi-user.target 