[
    {% include "flow_parts/core/config.json.j2" %},
    {% include "flow_parts/core/startup.json.j2" %},
    {% include "flow_parts/core/dashboard.json.j2" %},
    {% include "flow_parts/system/plan_buttons.json.j2" %},
    {% include "flow_parts/system/plan_logic.json.j2" %},
    {% include "flow_parts/system/plan_broadcast.json.j2" %},
    {% include "flow_parts/system/emergency_stop.json.j2" %},
    {% include "flow_parts/system/system_restart_buttons.json.j2" %},
    {% include "flow_parts/sculpture/mqtt_inputs.json.j2" %},
    {% include "flow_parts/sculpture/controls.json.j2" %},
    {% include "flow_parts/sculpture/tracks.json.j2" %},
    {% include "flow_parts/sculpture/gauges.json.j2" %},
    {% include "flow_parts/sculpture/restart_buttons.json.j2" %}
] 