[Unit]
Description=Sculpture Live Player (Audio Simulator - APlay Test)
After=sound.target pulseaudio.service
Requires=pulseaudio.service

[Service]
Type=simple
PassEnvironment=SCULPTURE_ID
ExecStart=/usr/bin/mpv --no-video --ao=pulse http://host.docker.internal:8000/mix-for-${SCULPTURE_ID}.ogg
Restart=always
RestartSec=5
User=pi
Environment="PULSE_SERVER=unix:/var/run/pulse/native"

[Install]
WantedBy=multi-user.target 