{
    "id": "plan_mqtt_out",
    "type": "mqtt out",
    "z": "sculpture_dashboard",
    "name": "Broadcast Plan",
    "topic": "system/broadcast",
    "qos": "0",
    "retain": "false",
    "broker": "mqtt_broker",
    "x": 1280,
    "y": 80,
    "wires": []
},
{
    "id": "plan_broadcast_out",
    "type": "link out",
    "z": "sculpture_dashboard",
    "name": "plan_broadcast_out",
    "mode": "link",
    "links": [],
    "x": 1180,
    "y": 120,
    "wires": []
} 