{
    "id": "restart_icecast2_btn_tab",
    "type": "ui_button",
    "z": "sculpture_dashboard",
    "name": "Restart Icecast2 Button (Tab)",
    "group": "ui_group_system_tab",
    "order": 9,
    "width": 0,
    "height": 0,
    "passthru": false,
    "label": "Restart Icecast2",
    "tooltip": "Restart the Icecast2 server",
    "color": "white",
    "bgcolor": "#1976d2",
    "icon": "fa-refresh",
    "payload": "{\"restart\":\"icecast2\"}",
    "payloadType": "json",
    "topic": "server/cmd",
    "x": 640,
    "y": 320,
    "wires": [ ["debug_restart_cmd", "mqtt_out_system"] ]
},
{
    "id": "restart_liquidsoap_btn_tab",
    "type": "ui_button",
    "z": "sculpture_dashboard",
    "name": "Restart Liquidsoap Button (Tab)",
    "group": "ui_group_system_tab",
    "order": 10,
    "width": 0,
    "height": 0,
    "passthru": false,
    "label": "Restart Liquidsoap",
    "tooltip": "Restart the Liquidsoap service",
    "color": "white",
    "bgcolor": "#388e3c",
    "icon": "fa-refresh",
    "payload": "{\"restart\":\"liquidsoap\"}",
    "payloadType": "json",
    "topic": "server/cmd",
    "x": 640,
    "y": 360,
    "wires": [ ["debug_restart_cmd", "mqtt_out_system"] ]
} 